/*  === Top Nav === */

.top-nav {
  width: 100%;
  background-color: $dark-gray;
  padding: 0;
  margin: 0;
}

.top-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;

  li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    color: $white;
    font-size: 13px;
  }

  li:first-child {
    padding-left: 0;
  }

  li i {
    padding-right: 8px;
  }
}

.top-list-right {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  float: right;

  li {
    display: inline-block;
    padding: 10px 15px;
    color: $white;
    font-size: 13px;
  }
  
  a {
    color: $white ;
  }
}

/*  === Top Bar === */
.top-bar {
  background-color: $medium-gray;
  padding-left: 1.5rem;
  color: $white;

  span {
    color: lighten($primary, 30%);
    background-color: $dark-gray;
    padding: 5px 9px;
    margin-right: 4px;
  }

  .menu {
    background-color: $medium-gray;
    padding-top: 7px;
  }

  li {
    text-transform: uppercase;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $secondary;
  }

  a.current {
    color: $secondary;
    border-bottom: 3px solid $secondary;
  }
}
