/*  === Top Nav === */

.top-nav {
  width: 100%;
  background-color: $dark-gray;
  padding: 0;
  margin: 0;
}

.top-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;

  li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    color: $white;
    font-size: 13px;
  }

  li:first-child {
    padding-left: 0;
  }

  li i {
    padding-right: 8px;
  }
}

.top-list-right {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  float: right;

  li {
    display: inline-block;
    padding: 10px 15px;
    color: $white;
    font-size: 13px;
  }
  
  a {
    color: $white ;
  }
  
  a:hover {
    color: $secondary;
  }
  
  
}


/*  === Top Bar === */
.top-bar {
  background-color: $medium-gray;
  padding-left: 1.5rem;
  color: $white;

  span {
    color: lighten($primary, 30%);
    background-color: $dark-gray;
    padding: 5px 9px;
    margin-right: 4px;
  }

  .menu {
    background-color: $medium-gray;
    padding-top: 7px;
  }

  li {
    text-transform: uppercase;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $secondary;
  }

  a.current {
    color: $secondary;
    border-bottom: 3px solid $secondary;
  }
}


/* === Section Showcase === */
.showcase {
  background: url("../img/showcase.jpg") no-repeat -100px 0;
  min-height: 400px;
  color: $white;
}

.showcase-box {
  padding: 20px 30px;
  margin-top: 30px;
  background-color: $primary;
  color: $white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  p {
    border-bottom: 1px solid $medium-light-gray;
    padding-bottom: 10px;
  }
}

.showcase-box-bottom {
  background-color: $secondary;
  padding: 10px 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  .pricing span {
    font-size: 35px;
    font-weight: bold;
  }

  .start-link {
    padding-top: 20px;

    a {
      color: $white;
    }
  }
}

/* ===  Section Domain-Search === */

.domain-search {
  margin-bottom: 30px;
  background-color: $light-gray;
  padding: 30px 20px 20px;
  border-bottom: 2px solid #ccc;

  .domain-form {
    input, .input-group-label {
      border-color: $medium-light-gray;
    }
  }
}