

section.section-b
    h1 A truly reliable web hosting company
    p  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        |Sed congue tortor vel velit rutrum, et varius purus semper.
// .section-b


section.section-c
    .row
        .columns.large-3
            i.fa.fa-shield(aria-hidden="true")
            h4 Secure
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .columns.large-3
            i.fa.fa-flash(aria-hidden="true")
            h4 Fast
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .columns.large-3
            i.fa.fa-gears(aria-hidden="true")
            h4 Stable
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .columns.large-3
            i.fa.fa-user(aria-hidden="true")
            h4 Reliable
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
// .section-c

footer
    .row
        .columns.large-3
             p BTHosting &copy; copyright 2017
             p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                |sed do eiusmod tempor incididunt ut labore et dolore
                |magna aliqua.
        .columns.large-3
             h5 Company
             ul.menu.vertical
                 li
                    a(href="#") About Us
                 li
                    a(href="#") Contact Us
                 li
                    a(href="#") Privacy Policy
                 li
                    a(href="#") (ite Map
        div.columns.large-3
             h5 Support
                ul.menu.vertical
                    li
                        a(href="#") Knowledgebase
                    li
                        a(href="#") Support Forum
                    li
                        a(href="#") Documentation
                    li
                        a(href="#") Ticket System
        div.columns.large-3
            img(src="img/truste-seal.png")

script(src='../js/vendor/jquery.js')
script(src='../js/vendor/what-input.js')
script(src='../js/vendor/foundation.js')
script(src='../js/app.js')