doctype
html
    head
        meta(charset='utf-8')

        title BTHosting | #{title}

        link(rel='stylesheet', href='../public/css/font-awesome.min.css')
        link(rel='stylesheet', href='../public/css/foundation.min.css')
        link(rel='stylesheet', href='../public/css/app.css')

    body
        .top-nav
            .row
                .columns.large-6.medium-6
                    ul.top-list
                        li
                            i.fa.fa-map-marker
                            | Boston, MA, USA
                        li
                            i.fa.fa-phone
                            | (652) 302-3495
                        li
                            i.fa.fa-envelop-o
                            a(href='#') sales@btnhosting
                .columns.large-6.medium-6
                    ul#menu-topmenu.top-list-right
                        li
                            a(href='#' data-open='loginModal') Client Login
                        li
                            a(href='about.html') About Us
                        li
                            a(href='contact.html') Support

        .top-bar
            .row
                .top-bar-left
                    h3
                        span BT
                        | Hosting
                .top-bar-right
                    ul.menu
                        li
                            if title == "Home"
                               a(href='home.html').current  Home
                            else
                                a(href='home.html')  Home
                        li
                            if title == "Shared"
                               a(href='shared.html').current Shared Hosting
                            else
                               a(href='shared.html') Shared Hosting
                        li
                            if title == "Vps"
                                a(href='vps.html').current Vps Hosting
                            else
                                a(href='vps.html') Vps
                        li
                            if title == "Dedicated"
                                a(href='dedicated.html').current Dedicated Servers
                            else
                                a(href='dedicated.html') Dedicated Servers
        // /.top-bar

