- var title = "About"

include partial/header.jade
include partial/search-form.jade

section.home-packages.row
    .columns.large-12.medium-12
        h2.text-center About Us
        p.lead.text-center Who Are We?
        hr
        br

        .large-6.medium-6.column
            img(src='img/person1.jpg' alt='Person' title='Person')
        .large-6.medium-6.column
            h3 A Company You Can Trust
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue
                |tortor vel velit rutrum, et varius purus semper. Quisque sit
                |amet lobortis magna. Ut eget viverra elit. Aenean eu congue ante,
                |non eleifend justo. Vestibulum ante ipsum primis in faucibus
                |orci luctus et ultrices posuere cubilia Curae
            h3 24/7 Support
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue
            |tortor vel velit rutrum, et varius purus semper. Quisque sit amet
            |lobortis magna. Ut eget viverra elit. Aenean eu congue ante, non
            |eleifend justo. Vestibulum ante ipsum primis in faucibus orci luctus
            |et ultrices posuere cubilia Curae
            .callout.primary
                h3 99.9% Uptime Guarantee
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue
                |tortor vel velit rutrum, et varius purus semper. Quisque sit amet
                |lobortis magna. Ut eget viverra elit. Aenean eu congue ante, non
                |eleifend justo. Vestibulum ante ipsum primis in faucibus orci luctus
                |et ultrices posuere cubilia Curae

include partial/footer.jade
