doctype
html
    head
        meta(charset='utf-8')

        title BTHosting

        link(rel='stylesheet', href='../public/css/font-awesome.min.css')
        link(rel='stylesheet', href='../public/css/foundation.min.css')
        link(rel='stylesheet', href='../public/css/app.css')

    body
        .top-nav
            .row
                .columns.large-6.medium-6
                    ul.top-list
                        li
                            i.fa.fa-map-marker
                            | Boston, MA, USA
                        li
                            i.fa.fa-phone
                            | (652) 302-3495
                        li
                            i.fa.fa-envelop-o
                            a(href='#') sales@btnhosting
                .columns.large-6.medium-6
                    ul#menu-topmenu.top-list-right
                        li
                            a(href='#' data-open='loginModal') Client Login
                        li
                            a(href='about.html') About Us
                        li
                            a(href='contact.html') Support

        .top-bar
            .row
                .top-bar-left
                    h3
                        span BT
                        | Hosting
                .top-bar-right
                    ul.menu
                        li
                            a.current(href='index.html') Home
                        li
                            a(href='shared.html') Shared Hosting
                        li
                            a(href='vps.html') Vps Hosting
                        li
                            a(href='dedicated.html') Dedicated Servers
        // /.top-bar

        section.showcase
            .row
                .columns.large-5.medium-5.large-offset-1.medium-offset-1
                    .showcase-box
                        h3 Fast, Secure, Realiable
                        p Powerful shared hosting on enterprise hardware.
                        .row
                            .columns.large-6.medium-6
                                ul
                                    li
                                        strong Easy&nbsp;
                                        |Control Panel
                                    li
                                        strong 1 Click &nbsp;
                                        |Script Installs
                                    li
                                        strong SSD&nbsp;
                                        |Data Storage
                            .columns.large-6.medium-6
                                ul
                                    li
                                        strong Unlimited&nbsp;
                                        |Transfer
                                    li
                                        strong 24/7&nbsp;
                                        |Tech Support
                                    li
                                        strong 99% Uptime&nbsp;
                                        |Guarantee
                    // /.show-box

                    .showcase-box-bottom
                        .row
                            .columns.large-6.medium-6 Starting at
                                .pricing
                                    span $9.99
                                    |/Month
                            .start-link.columns.large-6.medium-6
                                h5
                                    a(href='#')
                                        i(aria-hidden="true").fa.fa-arrow-circle-right &nbsp;
                                        |Get Started Now
        // /.showcase

        section.domain-search
            .row
                .columns.large-12.medium-12
                    form.domain-form
                        .input-group
                            span.input-group-label Find a Domain
                            input.input-group-field(type='text' placeholder='Search For .com, .org, .net')
                            .input-group-button
                                input.button(type='submit' value='Submit')
        // /.domain-search

        section.home-packages.row
            .columns.large-12.medium-12
                h2.text-center Hosting Packages For Everyone
                p.lead.text-center We have hosting packages for individuals and businesses of all types
                br

                ul(data-tabs).tabs#package-tabs
                    li.tabs-title.is-active
                        a(href="#shared" aria-selected="true") Shared Hosting
                    li.tabs-title
                        a(href="#vps") Cloud VPS
                    li.tabs-title
                        a(href="#dedicated") Dedicated Servers
                div.tabs-content(data-tabs-content="package-tabs")
                    .tabs-panel.is-active#shared
                        .row
                            .columns.large-4.medium-4
                                .callout.p-box-1
                                    h3 Simple Shared
                                    p Great for small & simple sites
                                    i.fa.fa-database(aria-hidden="true")
                                    ul.features.menu.vertical
                                       li 25GB SSD Storage
                                       li 100GB Data Transfer
                                       li 10 Email Accounts
                                       li 1 Domain Name
                                    .pricing
                                        span $9.99
                                        |/Month
                                        a.button.large.expanded(href="") GET IT NOW
                            .columns.large-4.medium-4
                                .callout.p-box-2
                                    h3 Standard Shared
                                    p Great for medium sized sites
                                    i.fa.fa-database(aria-hidden="true")
                                    ul.features.menu.vertical
                                        li 100GB SSD Storage
                                        li 500GB Data Transfer
                                        li 50 Email Accounts
                                        li 5 Domain Names
                                    .pricing
                                        span $19.99
                                        | /Month
                                        a.button.large.expanded.secondary(href="") GET IT NOW
                            .columns.large-4.medium-4
                                .callout.p-box-3
                                    h3 Super Shared
                                    p Great for enterprise sites & apps
                                    i.fa.fa-database(aria-hidden="true")
                                    ul.features.menu.vertical
                                        li 500GB SSD Storage
                                        li 1TB Data Transfer
                                        li Unlimited Email Accounts
                                        li Unlimited Domain Names
                                    .pricing
                                        span $29.99
                                        | /Month
                                        a.button.large.expanded.extra(href="") GET IT NOW
                    .tabs-panel#vps
                        .row
                            .columns.large-4.medium-4
                                .callout.p-box-1
                                    h3 Simple VPS
                                    p Great for small & simple sites
                                    i.fa.fa-database(aria-hidden="true")
                                    ul.features.menu.vertical
                                        li 25GB SSD Storage
                                        li 100GB Data Transfer
                                        li 10 Email Accounts
                                        li 1 Domain Name
                                    .pricing
                                        span $29.99
                                        | /Month
                                        a.button.large.expanded(href="") GET IT NOW
                            .columns.large-4.medium-4
                                .callout.p-box-2
                                    h3 Standard VPS
                                    p Great for medium sized sites
                                    i.fa.fa-database(aria-hidden="true")
                                    ul.features.menu.vertical
                                        li 100GB SSD Storage
                                        li 500GB Data Transfer
                                        li 50 Email Accounts
                                        li 5 Domain Names
                                    .pricing
                                        span $49.99
                                        | /Month
                                        a.button.large.expanded.secondary(href="") GET IT NOW
                            .columns.large-4.medium-4
                                .callout.p-box-3
                                    h3 Super VPS
                                    p Great for enterprise sites & apps
                                    i.fa.fa-database(aria-hidden="true")
                                    ul.features.menu.vertical
                                        li 500GB SSD Storage
                                        li 1TB Data Transfer
                                        li Unlimited Email Accounts
                                        li Unlimited Domain Names
                                    .pricing
                                        span $79.99
                                        | /Month
                                        a.button.large.expanded.extra(href="") GET IT NOW
                    .tabs-panel#dedicated
                        .row
                            .columns.large-4.medium-4
                                .callout.p-box-1
                                    h3 Simple Dedicated
                                    p Great for small & simple sites
                                    i.fa.fa-database(aria-hidden="true")
                                    ul.features.menu.vertical
                                        li 25GB SSD Storage
                                        li 100GB Data Transfer
                                        li 10 Email Accounts
                                        li 1 Domain Name
                                    .pricing
                                        span $99.99
                                        | /Month
                                        a.button.large.expanded(href="") GET IT NOW
                            .columns.large-4.medium-4
                                .callout.p-box-2
                                    h3 Standard Dedicated
                                    p Great for medium sized sites
                                    i.fa.fa-database(aria-hidden="true")
                                    ul.features.menu.vertical
                                        li 100GB SSD Storage
                                        li 500GB Data Transfer
                                        li 50 Email Accounts
                                        li 5 Domain Names
                                    .pricing
                                        span $129.99
                                        | /Month
                                        a.button.large.expanded.secondary(href="") GET IT NOW
                            .columns.large-4.medium-4
                                .callout.p-box-3
                                    h3 Super Dedicated
                                    p Great for enterprise sites & apps
                                    i.fa.fa-database(aria-hidden="true")
                                    ul.features.menu.vertical
                                        li 500GB SSD Storage
                                        li 1TB Data Transfer
                                        li Unlimited Email Accounts
                                        li Unlimited Domain Names
                                    .pricing
                                        span $199.99
                                        | /Month
                                        a.button.large.expanded.extra(href="") GET IT NOW











        script(src='../js/vendor/jquery.js')
        script(src='../js/vendor/what-input.js')
        script(src='../js/vendor/foundation.js')
        script(src='../js/app.js')