body {
  padding-bottom: 100px; }

/*  === Top Nav === */
.top-nav {
  width: 100%;
  background-color: #3D3F40;
  padding: 0;
  margin: 0; }

.top-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden; }
  .top-list li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    font-size: 13px; }
  .top-list li:first-child {
    padding-left: 0; }
  .top-list li i {
    padding-right: 8px; }

.top-list-right {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  float: right; }
  .top-list-right li {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    font-size: 13px; }
  .top-list-right a {
    color: #fff; }
  .top-list-right a:hover {
    color: #9bc33f; }

/*  === Top Bar === */
.top-bar {
  background-color: #494B4C;
  padding-left: 1.5rem;
  color: #fff; }
  .top-bar span {
    color: #59c2ef;
    background-color: #3D3F40;
    padding: 5px 9px;
    margin-right: 4px; }
  .top-bar .menu {
    background-color: #494B4C;
    padding-top: 7px; }
  .top-bar li {
    text-transform: uppercase; }
  .top-bar a {
    color: #fff; }
  .top-bar a:hover {
    color: #9bc33f; }
  .top-bar a.current {
    color: #9bc33f;
    border-bottom: 3px solid #9bc33f; }

/* === Section Showcase === */
.showcase {
  background: url("../img/showcase.jpg") no-repeat -100px 0;
  min-height: 400px;
  color: #fff;
  padding-bottom: 30px; }

.showcase-box {
  padding: 20px 30px;
  margin-top: 30px;
  background-color: #0f74a0;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }
  .showcase-box p {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; }

.showcase-box-bottom {
  background-color: #9bc33f;
  padding: 10px 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }
  .showcase-box-bottom .pricing span {
    font-size: 35px;
    font-weight: bold; }
  .showcase-box-bottom .start-link {
    padding-top: 20px; }
    .showcase-box-bottom .start-link a {
      color: #fff; }

/* ===  Section Domain-Search === */
.domain-search {
  margin-bottom: 30px;
  background-color: #f4f4f4;
  padding: 30px 20px 20px;
  border-bottom: 2px solid #ccc; }
  .domain-search .domain-form input, .domain-search .domain-form .input-group-label {
    border-color: #ccc; }

section.home-packages .p-box-1,
section.home-packages .p-box-2,
section.home-packages .p-box-3 {
  text-align: center;
  border-radius: 10px; }
  section.home-packages .p-box-1 .fa,
  section.home-packages .p-box-2 .fa,
  section.home-packages .p-box-3 .fa {
    font-size: 60px; }
  section.home-packages .p-box-1 .features,
  section.home-packages .p-box-2 .features,
  section.home-packages .p-box-3 .features {
    margin: 20px 0 30px 0; }
  section.home-packages .p-box-1 li,
  section.home-packages .p-box-2 li,
  section.home-packages .p-box-3 li {
    padding: 10px 0;
    border-bottom: 1px solid #f4f4f4; }

section.home-packages .p-box-1 .fa {
  color: #0f74a0; }

section.home-packages .p-box-1 .pricing span {
  font-size: 35px;
  font-weight: bold;
  color: #0f74a0; }

section.home-packages .p-box-2 .fa {
  color: #9bc33f; }

section.home-packages .p-box-2 .pricing span {
  font-size: 35px;
  font-weight: bold;
  color: #9bc33f; }

section.home-packages .p-box-3 .fa {
  color: #fb9f33; }

section.home-packages .p-box-3 .pricing span {
  font-size: 35px;
  font-weight: bold;
  color: #fb9f33; }

section.home-packages .extra {
  background-color: #fb9f33; }

section.home-packages .secondary {
  background-color: #9bc33f;
  color: #fff; }

section.home-packages h3 {
  font-size: 29px; }
