section.domain-search
    .row
        .columns.large-12.medium-12
            form.domain-form
                .input-group
                    span.input-group-label Find a Domain
                    input.input-group-field(type='text' placeholder='Search For .com, .org, .net')
                    .input-group-button
                        input.button(type='submit' value='Submit')
// /.domain-search